  <div class="spacer">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3 class=text-center>The 10 Takeaways from this years <strong class=tweet-header>Anchor on Soceity Social(ASS)</strong></h3>
        <h5 class="text-center">This year we focused on <strong>Helping Overcome Leadership Educational Shortcomings (HOLES)</strong></h5>
        <ul>
          <li class="align-self">We would pay like $500k to watch the Kardashians play scrabble.</li>
          <li class="align-self">If we could choose between world peace and a reasonable fortune, our first Lambo would be orange.</li>
          <li class="align-self">If you can't dazzle them with brilliance, baffle them with bullshit.</li>
          <li class="align-self">It's almost time for children to learn a valuable life lesson. Santa loves rich kids more.</li>
          <li class="align-self">Black Friday is the Special Olympics of capitalism.</li>
          <li class="align-self">Handshakes and tie knots. We don't have time for those who can't master those basic skills.</li>
          <li class="align-self">We will never give money to homeless people. We can't reward failure in good conscience.</li>
          <li class="align-self">Groupon is food stamps for the middle class.</li>
          <li class="align-self">Our garbage disposal eat better than 98% of the world.</li>
          <li class="align-self">If you can only be good at one thing, be good at lying... because if you're good at lying, you're good at everything.</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 border-left-right">
        <a class="twitter-timeline center-text" href="https://twitter.com/GSElevator?ref_src=twsrc%5Etfw">Tweets by GSElevator</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>
