.profile {
  background-color: #D3D3D3;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border: solid;

  .profile-name {
    margin-top: 20px;
  }
}

.profile-stats {
  width: 400px;
  border: solid black 4px;
}

.profile-item{
  color: red;
}
