.profile {
  // display: inline-flex;
  // flex-direction: column;
  // justify-content: center;
  // flex-grow: 1;

  .profile-name {
    margin-top: 20px;
  }
}

.profile-summary {
  background-color: white;
  padding: 20px;
}

.list-summary {
  flex: 1 0 auto;
}

.user-profile {
  margin-left: 40px;
}

.list-summary h4 {
padding-bottom: 10px;
font-weight: bold;
}
