<div class="user-dashboard">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <%= render "shared/user_profile" %>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="meetings-list"></div>
      <div class="votes-list"></div>
      </div>
    </div>
    <div class="row">
      <div col-ms-3 col-offset-6">
        <%= link_to "Check Politicians", politicians_path %>

        <div>
          <ul>
            <% @meetings.each do |meeting|%>
              <%= render "meetings/meeting",  locals: { meeting: meeting }%>
            <% end %>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
