
<div class="wrapper">
  <div class="row">
    <div class="col-sm-4 text-center">
      <%= render "shared/user_profile" %>
      <h1>Name</h1>
      <h1>Other Shit</h1>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-6 text-center">
          <ul class="profile-item">
           <% @meetings.each do |meeting| %>
           <%= render "meetings/meeting", locals: {meeting: meeting} %>
           <% end %>
         </ul>
       </div>
       <div class="col-sm-6 text-center">
         <ul class="profile-item">
           <% @meetings.each do |meeting| %>
           <%= render "meetings/meeting", locals: {meeting: meeting} %>
           <% end %>
         </ul>
       </div>
     </div>
     <div class="row">
      <div class="col-sm-12 text-center">
        <p>Button</p>
      </div>
    </div>
  </div>
</div>


