<div class="user-dashboard">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <%= render "shared/user_profile" %>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="meetings-list">
        </div>
      <div class="votes-list"></div>
      </div>
    </div>
    <div class="row">
      <div col-ms-3 col-offset-6">
        <%= link_to "Check Politicians", politicians_path %>

        <div>
          <ul>
            <% @meetings.each do |meeting|%>
              <%= render "meetings/meeting",  locals: { meeting: meeting }%>
            <% end %>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 flex-grow-1">
        <div class="affix">
          <%= render "shared/user_profile" %>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <ul>
                <li>4</li>
                <li>4</li>
                <li>4</li>
                <li>4</li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul>
                <li>4</li>
                <li>4</li>
                <li>4</li>
                <li>4</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <p>button</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
