<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= simple_form_for(@user) do |f| %>
          <%= f.file_field :photo_url %>
          <%= f.input :photo_url_cache, as: :hidden %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
