<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'star_wars.png' %>);">
  <div class="banner-content">
    <h1>Welcome to Naghty Lobby</h1>
    <p>Buy or Rent the politician you've been waiting for</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
