<div class="navbar-wagon">
  <!-- Logo -->
  <a href="#" class="navbar-wagon-brand">
    <%= image_tag 'monopoly.png' %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Dashboard</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Politicians</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Search</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Politicians</a></li>
        <li><a href="#">Search</a></li>
      </ul>
    </div>
  </div>
</div>
