<!-- <div class="toggle">
  <div class="toggle-label toggle-label-off">Option A</div>
  <div class="toggle-switch"></div>
  <div class="toggle-label toggle-label-on">Option B</div>
</div> -->

<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>
