<div class="profile">
  <div class="profile-pic">
    <%= render "shared/avatar", locals: { url: current_user.photo_url} %>
  </div>
  <div class="profile-name">
    <p><%= current_user.name %></p>
  </div>
</div>
