<%= render 'shared/flashes' %>
<%= render 'shared/banner' %>
<div class="container">
  <h1 class="top-header"> Our Top Politicians</h1>
  <div class="row">
    <%= render @politicians %>
  </div>
  <div class="spacer"></div>
  <h1 class="top-header"> Our Views on the Future</h1>
  <div class=text-center>
    <iframe width="1130" height="636"
    src="https://www.youtube.com/embed/q2gO4DKVpa8">
  </iframe>
  </div>
</div>
