<%= render 'shared/flashes' %>
<%= render 'shared/banner' %>
<div class="container">
  <h1 class="top-header"> Our Top Politicians</h1>
  <div class="row">
    <%= render @politicians %>
  </div>
  <div class="spacer"></div>
  <div class=text-center>
    <iframe width="840" height="630"
    src="https://www.youtube.com/embed/fPO76Jlnz6c">
  </iframe>
  </div>
</div>

