<%= render 'shared/flashes' %>
<%= render 'shared/banner' %>
<div class="container">
  <h1 class="top-header"> Our Top Politicians</h1>
  <div class="row">
    <%= render @politicians %>
  </div>
</div>



