.buffer{
  background-color: #303030;
  height: 2px;
}

.buffer-politician {
  margin-bottom: 10px;
}

.container {
  background-color: white;
  padding: 20px;
}

.spacer {
  padding-bottom: 10px;
  border-color: none;
}

.wrapper {
}
