/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid;
  border-bottom-color: #da552f;
}

/* Logo */
.navbar-wagon-brand img {
  height: 55px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* Left section */
.navbar-wagon-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
  border-bottom: 2px dashed;
  border-bottom-color: #da552f;
  padding: 10 10 4px;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.logo-header {
  text-decoration: none;
  color: #da552f;
}

.logo-name-first {
  position: absolute;
  margin-left: -320px;
  font-weight: lighter;
  margin-top: -4px;
}

.logo-name-last {
  position: absolute;
  color: #aa2e2e;
  margin-left: -195px;
  margin-top: -29px;
}
