.politian-button {
  position: absolute;
  margin-left: 90px;
  margin-top: 390px;
  border-radius: 12px;
  background-color: #d61111;
  border: none;
}

.politician {
  width: 360px;
  height: 600px;
  background: white;
  border-radius: 12px;
  box-shadow:  0 1px 7px rgba(0,0,0,.05);
  margin-top: 20px;
}

.politician-photo {
  height: 70%;
  filter: grayscale(100%);
  border-radius: 8px;
}

.politician-photo:hover {
  height: 70%;
  filter: grayscale(0%);
}

.politician-details {
  padding: 20px;
}

.politician-name {
  font-weight: bold;
  font-size: 22px;
}

.politician-row {
  font-weight: lighter;
}

.top-header {
  font-weight: bold;
  font-size: 28px;
  text-align: left;
  color: #aa2e2e;
}

.politicians-tagline {
  color: #aa2e2e;
  text-align: left;
}

.bottom-border {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

#name_query {
  border-radius: 40px;
}

.first-name {
  font-size: 48px;
  font-weight: lighter;
  color: #303030;
}

.last-name {
  font-size: 48px;
  font-weight: bold;
  color: #aa2e2e;
}

.party {
  font-style: italic;
  color: #303030;
}

.tagline {
  font-size: 22px;
  color: #727272;
}

.description {
  font-size: 22px;
  color: #727272;
}

.politicain-about {
  padding: 1px;
  border-radius: 4px;
  text-align: center;
}

.subtext {
  color: #f9f9f9;
  font-style: italic;
  margin: 0px;
  size: 12px;
  background-color: #b2b2b2;
  border-radius: 12px;
}

.large-header {
  border-top: solid #4f4f4f 2px;
  opacity: 0.6;
  color: #aa2e2e;
}


.small-header {
  color: #f9f9f9;
  font-style: italic;
  margin: 0px;
  size: 12px;
  background-color: #b2b2b2;
  border-radius: 12px;
}


