.btn {
  position: absolute;

  margin-left: 90px;
  margin-top: 390px;
  border-radius: 12px;
  background-color: #da552f;
  border: none;
}

.btn:hover {
  transition: background-color 1s ease;
  border: none;
  background-color: #771414;
}

.politician {
  margin: 20px;
  width: 360px;
  height: 600px;
  background: white;
  border-radius: 12px;
  box-shadow:  0 1px 7px rgba(0,0,0,.05);
}

.politician-photo {
  height: 70%;
  filter: grayscale(100%);
}

.politician-photo:hover {
  height: 70%;
  filter: grayscale(0%);
}

.politician-details {
  padding: 20px;
}

.politician-name {
  font-weight: bold;
  font-size: 22px;
}

.politician-row {
  font-weight: lighter;
}

.top-header {
  font-weight: bold;
  font-size: 28px;
  text-align: left;
  color: #aa2e2e;
}

.politicians-tagline {
  color: #aa2e2e;
  text-align: left;
}
