.review {
  .review-title {
    display: inline-block;
  }
}
.active {
 background-color: blue;
}

.red-stars {
  color: #aa2e2e;
}

.grey-stars {
  color: lightgrey;
}

.review-container {
  margin-top: 30px;
}

.review-title {
  padding-top: 15px;
}

