<h1>Reviews#show</h1>
<p>Find me in app/views/reviews/show.html.erb</p>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="review-title">
        <%= @review.title %>
      </div>
      <div class="review-rating">
        <%= @review.rating %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="review-description">
      <%= @review.description %>
    </div>
    <div class="review-author">
      @author.name
    </div>
  </div>
  <div class="row">
    <div class="col sm-3 col-offset-4">
      <%= link_to "back", politician_path(@politician)%>
    </div>
  </div>
</div>
