<div class='vote'>
<li>
<% vote = locals[:vote] %>
<span>From: <%= vote.politician.name %></span><br>
<span>Position: <%= vote.position %></span> <br>
<span>Subject: <%= vote.subject %></span>
<%= link_to "", vote_path(vote),
      method: :delete,
      data: { confirm: "Are you sure?" },class: "far fa-trash-alt" %>
</li>
</div>
