<% vote = locals[:vote] %>
<%= link_to vote_path(vote), method: :delete,
        data: { confirm: "Are you sure?" } do %>
  <div class='vote'>
    <li class="list-group-item">
      <span>From: <%= vote.politician.name %></span><br>
      <span>Position: <%= vote.position ? "For" : "Against" %></span> <br>
      <span>Subject: <%= vote.subject %></span>
    </li>
  </div>
<% end %>
