<div class="container">
  <h1 class="top-header"> Our Top Politicians</h1>
  <%= form_tag politicians_path, method: :get do %>
  <%= text_field_tag :name_query,
  params[:name_query],
  class: "form-control",
    placeholder: "Find a politician"
    %>
    <% end %>

    <div class="row">
      <%= render @politicians %>
    </div>
  </div>
</div>

